@font-face {
    font-family: 'extrudemedium';
    src: url('../font/extrude.eot');
    src: url('../font/extrude.eot?#iefix') format('embedded-opentype'),
         url('../font/extrude.woff') format('woff'),
         url('../font/extrude.ttf') format('truetype'),
         url('../font/extrude.svg#extrudemedium') format('svg');
    font-weight: normal;
    font-style: normal;}



#splash{
	
	position:absolute;
	
	z-index:500;
	
	height:100%;
	width:100%;
	
	font-family: 'extrudemedium';
	

 
}

#box {
	
	position:relative;
	
	z-index:600;
	top:25%;
	
	
	height:50%;
	width:50%;
	
	margin:auto;
	
	
	
	
}

#titlegame{
	
	position:absolute;
	
	width:100%;
	
	font-size:60px;
	color:red;
	text-align:center;	
	

}

#btnPlay{

	background: transparent;
    
	border: none !important;
	
	font-size:50px;
	color:black;
	font-family: 'extrudemedium';
	
}

#menu{
	
	position:absolute;
	
	width:100%;
	
	top:40%;
	margin:0 auto 0 auto;
	display:inline;
	
	text-align:center;
    
}


.fadeOutBox{
	
	-webkit-animation:fadeOutAnimation 2s linear forwards;
	
}





