#clients {
  width: 100%;
  position: relative;
  height: 150px; }

ul.imgClients {
  width: 95%;
  list-style: none;
  margin: 0 auto 0 auto;
  padding: 0; }

ul.imgClients li {
  margin: 50px 0 50px 11%;
  display: inline-block;
  -webkit-animation: animationEnter 1s linear forwards; }
