/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
header, hgroup, menu,  section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
h1{

	font-size:46px;

}
h2{

	font-size:28px;

}
h3{
	
	font-size:18px;

}
#line{
	position:absolute;
	
	width:1px;
	height:81px;
	
	left:50%;

	margin:45px 0 0 0;
	
	background-color:white;

}
.barAni{
	
	position:absolute;
	
	width:40px;
	height:1px;
	top:36px;
	background-color:white;
	display:block;


}
a.button.btnHeader{

	left:263px;
	top:55%;
	
	border:1px solid $colorwhite;
	opacity:1;
	font-size:13px;
	color:white;
	

}
a.button{

	position:absolute;

	padding: 15px 45px;
	text-decoration:none;
	border:1px solid ;

	font-weight:400;
}

nav.fixedmenu{

	position: fixed;
	background-color:rgb(45,180,216);

	font-size:12px;
	max-height: 65px; 
	


	
	
	

}
#footer{

background-color:#303336;
height:150px;


}
#footer ul{

	
	list-style:none;
	display:inline-block;
	
	margin:0;
	padding:0;


}
#footer .container {

	width:100%;
	
	display:inline-block;
	margin: 0;	
	padding:0;	
	


}
#footer .container .row{

	width:100%;
	
	display:inline-block;
	margin: 0;		
	


}
#footer ul.contactSocial {

	position:relative;
	width:29%;
	height:150px;
	
	margin:0 0 0 12px;
	background-color:#18191b;
	

}

#footer ul.contactSocial li {

	position:relative;
	
	
	margin:15% 0 0 50px;
	background-color:#18191b;
	

}

#footer ul.contactUl {

	width:70%;
	

}

.navOut ul{
	position:fixed;
	float:left;
	margin:40px  0 0 100px;
	padding:0;
	list-style:none;

}
.navOut{

	position:absolute;
	z-index:500;
	right:-17em;
	width:17em;
	background-color:black;
	color:white;
	height:100%;

	
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}