body {
  padding: 0px;
  margin: 0px;
  position: relative;
  font: normal 16px "Lato",arial,sans-serif;
  overflow-x: hidden;
  font-weight: 300; }

h1, h2, h3 {
  margin: 8px 0 16px 0;
  letter-spacing: -1px;
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 400; }

h1 {
  font-size: 46px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 18px; }

#main {
  width: 100%;
  height: auto;
  position: relative;
  left: 0em;
  -webkit-transition: left 0.35s ease-in-out; }

body.openMenu #main {
  left: -17em; }

#overlay {
  position: fixed;
  height: 100%;
  top: 0;
  width: 100%; }

body.openMenu #overlay {
  left: -17em;
  z-index: 400; }
