#saying {
  position: absolute;
  width: 100%;
  height: 380px; }

.row.Say {
  text-align: center;
  color: #303336; }

.row.Say p {
  text-align: center;
  color: #303336;
  margin: 10px 0 0 0; }

.row.sliderIcon {
  height: 20px;
  margin: 5px auto 0 auto; }

.circle {
  position: relative;
  left: 47%;
  margin: 0px 0 0 5px;
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black; }

.bgcircle {
  background-color: black; }

.row.slider ul {
  position: relative;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
  overflow: hidden;
  left: 0; }

.row.slider ul li {
  position: relative;
  max-height: 150px;
  margin: 20px 0 0.7em;
  -webkit-transition: left 1s linear; }

.row.slider ul li:first-child {
  -webkit-animation: animationEnter 1.2s linear forwards; }

.row.slider ul li blockquote {
  text-align: center;
  color: #424242;
  line-height: 1.9em;
  margin: 0; }

.testimonial {
  font-size: 16px;
  color: #2db4d8;
  text-align: center; }

.row.slider ul li[data-index='0'] {
  left: 0; }

.row.slider ul li[data-index='1'] {
  left: -50%; }

.row.slider ul li[data-index='2'] {
  left: -200%; }

.row.slider ul li[data-index='3'] {
  left: -300%; }
