body {
  padding: 0px;
  margin: 0px;
  position: relative;
  font: normal 16px "Lato",arial,sans-serif;
  overflow-x: hidden;
  font-weight: 300;
  -webkit-font-smoothing: none; }

h1, h2, h3 {
  margin: 8px 0 16px 0;
  letter-spacing: -1px;
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 400; }

h1 {
  font-size: 46px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 18px; }

#main {
  width: 100%;
  height: auto;
  position: relative;
  left: 0em;
  -webkit-transition: left 0.35s ease-in-out; }

body.openMenu #main {
  left: -17em; }

#overlay {
  position: fixed;
  height: 100%;
  top: 0;
  width: 100%; }

body.openMenu #overlay {
  left: -17em;
  z-index: 400; }

header {
  position: relative;
  min-height: 680px;
  background-position: 50% 0px; }

#containerHeader {
  height: 350px;
  top: 290px;
  color: white;
  display: block;
  color: white; }

a.button {
  position: absolute;
  padding: 15px 45px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 400; }

a.button.btnHeader {
  left: 263px;
  top: 66%;
  border: 1px solid rgba(255, 255, 255, 0.7);
  opacity: 1;
  font-size: 13px;
  color: white; }

a.button.btnHeader:hover {
  -webkit-transition: opacity 0.25s linear;
  -moz-transition: opacity 0.25s linear;
  -ms-transition: opacity 0.25s linear;
  -o-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
  opacity: 0.5; }

a.button.btnWork {
  left: 51%;
  top: 90%;
  border: 1px solid rgba(80, 86, 86, 0.5);
  font-size: 13px;
  color: #505656; }

a.button.btnWork:hover {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  background-color: #303336;
  color: white; }

#line {
  position: absolute;
  width: 1px;
  height: 81px;
  left: 50%;
  margin: 45px 0 0 0;
  background-color: rgba(255, 255, 255, 0.7); }

nav {
  position: absolute;
  width: 100%;
  height: 65px;
  top: 60px;
  font-size: 13px;
  font-weight: 400;
  line-height: 35px;
  color: white;
  z-index: 200;
  padding-top: 0;
  -webkit-animation: fadeIn 0.5s linear forwards;
  -moz-animation: fadeIn 0.5s linear forwards;
  -ms-animation: fadeIn 0.5s linear forwards;
  -o-animation: fadeIn 0.5s linear forwards;
  animation: fadeIn 0.5s linear forwards; }

.navOut {
  position: absolute;
  z-index: 500;
  right: -17em;
  width: 17em;
  background-color: black;
  color: white;
  height: 100%;
  -webkit-transition: right 0.35s ease-in-out;
  -moz-transition: right 0.35s ease-in-out;
  -ms-transition: right 0.35s ease-in-out;
  -o-transition: right 0.35s ease-in-out;
  transition: right 0.35s ease-in-out; }

body.openMenu .navOut {
  right: 0; }

body.openMenu .navOut ul {
  position: fixed;
  float: left;
  margin: 40px  0 0 100px;
  padding: 0;
  list-style: none; }

.navOut ul li {
  margin: 20px 0 0 0;
  text-align: center; }

.fixedmenu.fadeOutAni {
  top: 0%;
  -webkit-animation: fadeOut 0.5s linear forwards;
  -moz-animation: fadeOut 0.5s linear forwards;
  -ms-animation: fadeOut 0.5s linear forwards;
  -o-animation: fadeOut 0.5s linear forwards;
  animation: fadeOut 0.5s linear forwards; }

.fixedmenu {
  position: fixed;
  background-color: rgba(45, 180, 216, 0.95);
  top: -65px;
  font-size: 12px;
  max-height: 65px;
  -webkit-animation: slideDown 0.3s linear forwards;
  -moz-animation: slideDown 0.3s linear forwards;
  -ms-animation: slideDown 0.3s linear forwards;
  -o-animation: slideDown 0.3s linear forwards;
  animation: slideDown 0.3s linear forwards; }

.barAni {
  position: absolute;
  width: 40px;
  height: 1px;
  top: 36px;
  background-color: rgba(255, 255, 255, 0.7);
  display: block; }

nav img {
  position: absolute;
  left: 5%; }

nav .iconmenu {
  position: absolute;
  display: none;
  left: 90%;
  top: 15px; }

nav .iconmenu i {
  position: relative;
  font-size: 25px;
  color: white;
  top: 5px;
  margin: 0 5px 0 0; }

nav ul {
  position: absolute;
  height: 35px;
  width: 500px;
  left: 67%;
  margin: 0;
  padding: 0;
  display: hidden; }

.fixedmenu ul, img {
  top: 28%; }

nav ul li {
  height: 35px;
  box-sizing: border-box;
  padding: 0px 35px 10px 0;
  display: inline-block;
  cursor: pointer; }

nav li.searchIcon {
  font-size: 15px;
  font-weight: 100;
  padding: 5px 0px 5px 30px; }

nav li.borderMenu {
  border-right: 1px solid rgba(255, 255, 255, 0.7); }

.firstFace {
  position: relative;
  width: 700px;
  margin: 0 auto 0 auto;
  text-align: center; }

#philosophy {
  position: relative;
  height: 320px;
  box-sizing: border-box;
  padding: 90px 15px 80px 15px; }

#philosophy p {
  font-size: 1em;
  color: #424242; }

#work {
  position: relative;
  height: 774px;
  background-color: #f2f2f1; }

.row {
  position: relative;
  width: 1170px;
  overflow: hidden;
  margin: 0 auto 0 auto; }

.elementRow {
  position: relative;
  line-height: 1.9em;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 15px 0 15px; }

.elementRow.Phi {
  width: 33%; }

.elementRow.Work {
  width: 50%;
  left: 50%;
  padding: 0 15px 45px 15px; }

.elementRow.Little {
  width: 25%; }

.elementRow.Little h3 {
  color: #505656;
  display: inline; }

.elementRow.Little i {
  margin: 0px 10px 0 0;
  display: inline;
  color: #7a7a7a;
  font-size: 26px; }

.elementRow.Little p {
  color: #7a7a7a;
  font-size: 14px;
  margin: 8px 0 0 0;
  line-height: 1.8em; }

.elementRow.Work h2 {
  color: #505656; }

.elementRow.Work p {
  color: #7a7a7a; }

.picture {
  position: absolute;
  width: 40%;
  height: 100%;
  min-height: 280px;
  background-image: url("http://aetherthemes.com/demo/form/images/feature-image1.jpg");
  background-size: cover;
  background-position: 50% 20%; }

.container {
  position: relative;
  box-sizing: border-box;
  padding: 90px 15px 80px 15px; }

#saying {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 0 0 50px 0; }

.row.Say {
  text-align: center;
  color: #303336;
  width: 100%; }

.row.Say p {
  text-align: center;
  color: #303336;
  margin: 10px 0 0 0; }

.row.sliderIcon {
  height: 20px;
  margin: 5px auto 0 auto;
  width: 100%; }

.circle {
  position: relative;
  left: 47%;
  margin: 0px 0 0 5px;
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 5px;
  background-color: white;
  border: 1px solid black; }

.bgcircle {
  background-color: black; }

.row.slider {
  height: 200px;
  width: 100%;
  max-width: 1170px; }

.row.slider ul {
  position: absolute;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 24px;
  left: 0;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear; }

.row.slider ul li {
  position: absolute;
  width: 100%;
  max-height: 150px;
  margin: 20px 0 0.7em; }

.row.slider ul li:first-child {
  -webkit-animation: animationEnter 1.2s linear forwards;
  -moz-animation: animationEnter 1.2s linear forwards;
  -ms-animation: animationEnter 1.2s linear forwards;
  -o-animation: animationEnter 1.2s linear forwards;
  animation: animationEnter 1.2s linear forwards; }

.row.slider ul li blockquote {
  text-align: center;
  color: #424242;
  line-height: 1.9em;
  margin: 0; }

.row.slider ul li p {
  font-size: 16px;
  color: #2db4d8;
  text-align: center; }

.row.slider ul li[data-indexLi='0'] {
  left: 0; }

.row.slider ul li[data-indexLi='1'] {
  left: 100%; }

.row.slider ul li[data-indexLi='2'] {
  left: 200%; }

.row.slider ul li[data-indexLi='3'] {
  left: 300%; }

@media (max-width: 1170px) {
  .row.slider {
    max-width: 875px; }

  .row.slider ul li blockquote {
    font-size: 20px; } }
@media (max-width: 675px) {
  #saying {
    margin: 0 0 60px 0; }

  .row.slider {
    max-width: 500px; }

  .row.slider ul li blockquote {
    font-size: 16px;
    line-height: 1.9em; } }
@media (max-width: 450px) {
  #saying {
    margin: 0 0 60px 0; }

  .row.slider {
    max-width: 400px; }

  .row.slider ul li blockquote {
    font-size: 16px;
    line-height: 1.5em; } }
#portfolio {
  position: relative;
  width: 100%; }

.rowGallery {
  position: relative;
  max-width: 100%;
  overflow: hidden; }

.item {
  position: relative;
  width: 25%;
  float: left;
  overflow: hidden; }

.item img {
  position: absolute;
  top: 0; }

.description {
  position: absolute;
  bottom: -25%;
  left: 0px;
  width: 100%;
  height: 25%;
  background-color: #474747;
  text-align: center;
  color: white;
  -webkit-transition: bottom 0.5s linear;
  -moz-transition: bottom 0.5s linear;
  -ms-transition: bottom 0.5s linear;
  -o-transition: bottom 0.5s linear;
  transition: bottom 0.5s linear;
  z-index: 100; }

.description p {
  padding: 10%;
  margin: 0px; }

.item:hover img {
  opacity: 0.3;
  filter: alpha(opacity=30); }

.aniDes {
  bottom: 0; }

#clients {
  width: 100%;
  position: relative;
  height: 150px; }

ul.imgClients {
  width: 95%;
  list-style: none;
  margin: 0 auto 0 auto;
  padding: 0; }

ul.imgClients li {
  margin: 50px 0 50px 11%;
  display: inline-block;
  -webkit-animation: animationEnter 1s linear forwards;
  -moz-animation: animationEnter 1s linear forwards;
  -ms-animation: animationEnter 1s linear forwards;
  -o-animation: animationEnter 1s linear forwards;
  animation: animationEnter 1s linear forwards; }

#contact {
  width: 100%;
  position: relative;
  background: #f2f2f1; }

#contact .row {
  text-align: center;
  height: 100px; }

#contact .row i {
  position: absolute;
  left: 49%;
  top: 57%; }

#contact .row h2 {
  text-align: center;
  color: #505656; }

#contact .row p {
  text-align: center;
  margin: 20px 0 0 0;
  color: #7a7a7a;
  font-size: 1em; }

.button.btncontact {
  position: relative;
  top: 60px;
  border: 1px solid rgba(80, 86, 86, 0.5);
  font-size: 13px;
  color: #505656; }

.button.btncontact.one {
  background-color: transparent;
  color: rgba(45, 216, 125, 0.5);
  left: -10%;
  border-color: rgba(45, 216, 125, 0.5); }

.button.btncontact.two {
  background-color: transparent;
  left: 10%; }

.button.btncontact.two:hover {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  color: white;
  background-color: #505656; }

.button.btncontact.one:hover {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  color: white;
  background-color: #2dd87d; }

.linecontact {
  position: absolute;
  width: 50px;
  height: 1px;
  background-color: rgba(80, 86, 86, 0.5); }

.linecontact.one {
  left: 43%;
  top: 71%; }

.linecontact.two {
  left: 52%;
  top: 71%; }

#footer {
  position: relative;
  background: -webkit-linear-gradient(left, #303336 0%, #303336 65%, #18191b 65%, #18191b 100%);
  background: -moz-linear-gradient(left, #303336 0%, #303336 65%, #18191b 65%, #18191b 100%);
  background: -ms-linear-gradient(left, #303336 0%, #303336 65%, #18191b 65%, #18191b 100%);
  color: #f2f2f1;
  width: 100%; }

#footer .container {
  box-sizing: border-box;
  padding: 50px 0px;
  width: 100%;
  display: inline-block; }

#footer .container .row {
  margin: 0 auto 0 auto; }

#footer ul {
  list-style: none;
  display: inline-block;
  margin: 0 auto 0 auto;
  padding: 0; }

#footer ul.contactUl {
  width: 60%; }

#footer ul.contactSocial {
  position: relative;
  width: 300px;
  margin: 0 0 0 160px; }

#footer ul li {
  color: #f2f2f1;
  margin: 0 0 0 5%;
  display: inline-block;
  opacity: .7;
  font-weight: 300; }

#footer ul li i {
  margin: 0 10px	0 0; }

@media screen and (max-width: 1400px) {
  nav ul {
    left: 58%; } }
@media screen and (max-width: 1200px) {
  h1 {
    font-size: 38px; }

  h2 {
    font-size: 28px; }

  h3 {
    font-size: 18px; }

  header {
    min-height: 420px;
    background-image: url(http://aetherthemes.com/demo/form/images/hero-home.jpg);
    background-size: 100% 100%; }

  #containerHeader {
    height: 300px;
    top: 200px; }

  nav {
    top: 30px; }

  nav ul {
    display: none; }

  nav .iconmenu {
    display: inline-block; }

  nav img {
    left: 2%; }

  a.button {
    position: absolute;
    padding: 12px 35px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 400; }

  a.button.btnHeader {
    top: 43%; }

  #line {
    height: 40px;
    left: 49%;
    margin: -1px 0 0 0; }

  .container {
    padding: 60px 15px 60px 15px; }

  .row {
    width: 875px; }

  #philosophy {
    padding: 0; }

  #philosophy .row {
    width: 750px;
    margin: 0 auto 0 auto;
    padding: 60px 15px 50px 15px; }

  #work {
    height: auto; }

  .elementRow.Work {
    width: 40%;
    margin-left: 55%;
    left: 0;
    padding: 0 15px 45px 15px;
    display: block; }

  a.button.btnWork {
    top: 92%;
    left: 57%; }

  #clients .row {
    text-align: center; }

  #clients ul li {
    margin: 50px 0 50px 5%; }

  #clients ul li:first-child {
    margin: 50px 0 50px 1%; }

  .elementRow.Little {
    width: 40%; }

  .rowGallery .item:last-child img {
    display: none; }

  .item {
    width: 33.3333333%; }

  #footer ul.contactSocial {
    margin: 0 0 0 50px; }

  #footer .row {
    font-size: 15px;
    width: 100%; }

  #footer ul.contactUl {
    margin: 20px 20px 20px 20px;
    width: 60%; }

  #footer ul.contactUl li {
    margin: 25px 0 0 15px; } }
@media screen and (max-width: 770px) {
  h1 {
    font-size: 29px; }

  h2 {
    font-size: 18px; }

  h3 {
    font-size: 14px; }

  header {
    min-height: 350px; }

  #containerHeader {
    height: 300px;
    top: 150px; }

  nav {
    top: 15px; }

  a.button {
    margin: 0 0  0 10px;
    padding: 12px 25px; }

  a.button.btnHeader {
    top: 40%; }

  #line {
    height: 40px;
    left: 49%;
    margin: 0px 0 0 0; }

  .container {
    padding: 60px 20px 60px 20px; }

  .row {
    width: 600px; }

  #philosophy {
    height: auto;
    padding: 0; }

  #philosophy .row {
    width: 650px;
    margin: 0 auto 0 auto;
    padding: 60px 15px 50px 15px; }

  #philosophy .elementRow.Phi {
    width: 100%;
    text-align: center; }

  #work {
    height: 1200px; }

  .elementRow.Work {
    width: 100%;
    margin-left: 0;
    text-align: center; }

  .elementRow.Work.Little {
    width: auto;
    margin-left: 0;
    text-align: center; }

  #work .container {
    top: 280px; }

  .picture {
    width: 100%;
    height: 280px; }

  .row.sliderIcon {
    margin: 5px 0 0 -15px; }

  a.button.btnWork {
    top: 92%;
    left: 40%; }

  #clients {
    height: auto; }

  #clients .row {
    text-align: center; }

  #clients ul li {
    margin: 5px 0 25px 0;
    width: 100%; }

  #clients ul li:first-child {
    margin: 25px 0 20px 0;
    width: 100%; }

  .rowGallery:last-child {
    display: none; }

  .rowGallery .item:nth-last-child(2) img {
    display: none; }

  .item {
    width: 50%; }

  #footer {
    background: -webkit-linear-gradient(top, #303336 0%, #303336 70%, #18191b 70%, #18191b 100%);
    height: auto; }

  #footer ul.contactSocial {
    text-align: center;
    margin: 100px 0 0 25%; }

  #footer ul.contactUl {
    text-align: center;
    width: 90%; }

  #footer ul.contactUl li {
    margin: 25px 0 0 0;
    width: 100%; } }
@media screen and (max-width: 600px) {
  h1 {
    font-size: 25px; }

  h2 {
    font-size: 15px; }

  h3 {
    font-size: 12px; }

  #containerHeader {
    height: 250px;
    top: 140px;
    width: 100%; }

  a.button {
    margin: 0 0  0 10px;
    padding: 10px 15px;
    font-size: 14px; }

  a.button.btnHeader {
    top: 40%;
    left: 35%; }

  #line {
    display: none; }

  #philosophy p {
    font-size: 0.9em;
    margin: 1em 0 1em -10px; }

  #work {
    height: 1300px; }

  .rowGallery .item:nth-last-child(1) img {
    display: none; }

  .row {
    width: 100%; }

  .row.sliderIcon {
    margin: 5px 0 0 -25px; }

  .linecontact {
    display: none; }

  a.button.btnWork {
    left: 36%; }

  #philosophy .row {
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 60px 15px 50px 15px; }

  .item {
    width: 100%; }

  #footer ul.contactSocial {
    text-align: center;
    margin: 100px 0 0 20%; } }
@-webkit-keyframes slideDown {
  0% {
    top: -65px; }

  100% {
    top: 0%; } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-webkit-keyframes animationEnter {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
    -webkit-filter: blur(5px); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -webkit-filter: blur(0px); } }
@-webkit-keyframes fadeButton {
  0% {
    background-color: transparent; }

  100% {
    background-color: #303336; } }
@keyframes slideDown {
  0% {
    top: -65px; }

  100% {
    top: 0%; } }
@keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes animationEnter {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
    -webkit-filter: blur(5px); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    -webkit-filter: blur(0px); } }
@keyframes fadeButton {
  0% {
    background-color: transparent; }

  100% {
    background-color: #303336; } }
