body {
  padding: 0px;
  margin: 0px;
  font: normal 16px "Lato",arial,sans-serif;
  font-weight: 300; }

h1, h2, h3 {
  margin: 8px 0 16px 0;
  letter-spacing: -1px;
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 400; }

h1 {
  font-size: 46px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 18px; }

#main {
  width: 100%;
  height: auto; }

header {
  position: relative;
  min-height: 680px;
  background-image: url(http://aetherthemes.com/demo/form/images/hero-home.jpg);
  background-position: 50% 0px; }

#containerHeader {
  height: 350px;
  top: 290px;
  color: white;
  display: block;
  color: white; }

a.button {
  position: absolute;
  padding: 15px 45px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 400; }

a.button.btnHeader {
  left: 263px;
  top: 66%;
  border: 1px solid rgba(255, 255, 255, 0.7);
  font-size: 13px;
  color: white; }

a.button.btnWork {
  left: 51%;
  top: 90%;
  border: 1px solid rgba(80, 86, 86, 0.5);
  font-size: 13px;
  color: #505656; }

#line {
  position: absolute;
  width: 1px;
  height: 81px;
  left: 50%;
  margin: 45px 0 0 0;
  background-color: rgba(255, 255, 255, 0.7); }

nav {
  position: absolute;
  width: 100%;
  height: 65px;
  top: 60px;
  font-size: 13px;
  font-weight: 400;
  line-height: 35px;
  color: white; }

.full {
  display: inline;
  z-index: 300;
  opacity: 1; }

.fadeOutAni {
  top: 0%;
  -webkit-animation: fadeOut 0.5s linear forwards; }

.slideDownAni {
  -webkit-animation: slideDown 0.3s linear forwards; }

.barAni {
  position: absolute;
  width: 40px;
  height: 1px;
  top: 36px;
  background-color: rgba(255, 255, 255, 0.7);
  display: block; }

.fixedmenu {
  position: fixed;
  background-color: rgba(45, 180, 216, 0.95);
  padding-top: 0;
  max-height: 0;
  z-index: 200;
  font-size: 12px;
  max-height: 65px; }

nav img {
  position: absolute;
  left: 5%; }

nav ul {
  position: relative;
  height: 35px;
  width: 500px;
  left: 67%;
  margin: 0;
  padding: 0; }

.fixedmenu ul, img {
  top: 28%; }

nav ul li {
  height: 35px;
  box-sizing: border-box;
  padding: 0px 35px 10px 0;
  display: inline-block;
  cursor: pointer; }

nav li.searchIcon {
  font-size: 15px;
  font-weight: 100;
  padding: 5px 0px 5px 30px; }

nav li.borderMenu {
  border-right: 1px solid rgba(255, 255, 255, 0.7); }

.firstFace {
  position: relative;
  width: 700px;
  margin: 0 auto 0 auto;
  text-align: center; }

#philosophy {
  position: relative;
  height: 320px;
  box-sizing: border-box;
  padding: 90px 15px 80px 15px; }

#philosophy p {
  font-size: 1em;
  color: #424242; }

#work {
  position: relative;
  height: 774px;
  background-color: #f2f2f1; }

#saying {
  position: relative;
  height: 380px; }

.row {
  position: relative;
  width: 1170px;
  margin: 0 auto 0 auto; }

.row.Say {
  text-align: center;
  color: #303336; }

.row.Say p {
  text-align: center;
  color: #303336;
  margin: 10px 0 0 0; }

.elementRow {
  position: relative;
  line-height: 1.9em;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 15px 0 15px; }

.elementRow.Phi {
  width: 33%; }

.elementRow.Work {
  width: 50%;
  left: 50%;
  padding: 0 15px 45px 15px; }

.elementRow.Little {
  width: 25%; }

.elementRow.Little h3 {
  color: #505656;
  display: inline; }

.elementRow.Little i {
  margin: 0px 10px 0 0;
  display: inline;
  color: #7a7a7a;
  font-size: 26px; }

.elementRow.Little p {
  color: #7a7a7a;
  font-size: 14px;
  margin: 8px 0 0 0;
  line-height: 1.8em; }

.elementRow.Work h2 {
  color: #505656; }

.elementRow.Work p {
  color: #7a7a7a; }

.picture {
  position: absolute;
  width: 40%;
  height: 100%;
  min-height: 280px;
  background-image: url("http://aetherthemes.com/demo/form/images/feature-image1.jpg");
  background-size: cover;
  background-position: 50% 20%; }

.container {
  position: relative;
  box-sizing: border-box;
  padding: 90px 15px 80px 15px; }

@-webkit-keyframes slideDown {
  0% {
    top: -65px; }

  100% {
    top: 0%; } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }
