$colorblue: #14B4F0;
$colorgreen: #96CA4E;
$colorred: #DC2D68;
$postext:center;

#about{
	
	position:absolute;

	width:50%;
	height:30%;
	box-sizing:border-box;
	display:inline;
	
	
	left:0%;
	font-size:11px;
	
	
}

#skills{
	
	position:absolute;

	width:50%;
	height:30%;
	box-sizing:border-box;
	display:inline;
	
	
	left:0%;
	top:28%;
	font-size:11px;
	
		
	p, i{
	
		
		display:inline;
		
		
	
	}
	

	

}

#listSkills1{

	position:absolute;

	width:50%;
	height:100%;
	box-sizing:border-box;
	display:inline;
	
	
	left:0%;
	
	
	padding:30px 0 0 20px ;
	
	ul, li{
		
		
		list-style-type: none;
		font-size:11px;
		margin:10px 0 0 0;
		
		
		
	
	
	}
	
}

#listSkills2{

	position:absolute;

	width:50%;
	height:100%;
	box-sizing:border-box;
	display:inline;
	
	
	left:50%;
	
	padding:30px 0 0 0 ;
	
		ul, li{
		
		
		list-style-type: none;
		font-size:11px;
		margin:10px 0 0 0;
		
		
		
	
	
	}
	
}

.titleBlue{
	
	font-size:15px;
	font-weight:bold;
	color:$colorblue;
	margin:0 0 15px 0;
	

}
.titleGreen{
	
	font-size:15px;
	font-weight:bold;
	color:$colorgreen;
	margin:0 0 15px 0;
	display:inline;
	
}
.iconColorGreen{
			
	font-size:25px;
	color:$colorgreen;
	margin:0 10px 0 0;
		
}

.iconColorBlue{
			
	font-size:25px;
	color:$colorblue;
	margin:0 10px 0 0;
		
}

.colorTextRed{
	
	color:$colorred;
	

}

.colorTextBlue{
	
	color:$colorblue;
	

}

.colorTextGreen{
	
	color:$colorgreen;
	

}

.title{
	
	top:-1%;
	position:absolute;
	margin:0;
	font-size:15px;
	font-weight:bold;
	display:inline;


}