$colorblue: #14B4F0;
$colorgreen: #96CA4E;
$colorred: #DC2D68;
$postext:center;

#experience{


	position:absolute;

	width:50%;
	height:50%;
	box-sizing:border-box;
	display:inline;
	
	
	left:0%;
	
	font-size:11px;
	
	
		
	p{
	
		
		display:inline;
		
		
	
	}
	
	ul, li{
	
		list-style-type: none;
		
		margin:5px 0 0 5px;
		padding:0;
		
	
	
	}
	
	i{	
	
		font-size:18px;
		margin:0 10px 0 0;
		display:inline;
		
	}
}

#listExp1{


	position:absolute;

	width:45%;
	height:100%;
	box-sizing:border-box;
	display:inline;
	
	
	left:0%;
	
	
	padding:40px 0 0 0 ;
	
	ul, li{
		
		
		list-style-type: none;
		
		margin:4px 0 0 0;
		
		
		
	
	
	}




}
#listExp2{

	position:absolute;

	width:55%;
	height:100%;
	box-sizing:border-box;
	display:inline;
	
	
	left:45%;
	
	padding:40px 0 0 0 ;
	
	ul, li{
		
		
		list-style-type: none;
		
		margin:4px 0 0 0;
		
		
		
	
	
	}



}

#education{

	position:absolute;

	width:50%;
	height:50%;
	box-sizing:border-box;
	display:inline;
	
	
	left:55%;

	
		

	
	ul{
	
		list-style-type: none;
		font-size:11px;
		
		padding:0;
		
	
	
	}
	
	li{
	
		list-style-type: none;
		font-size:11px;
		margin:0px 0 0 5px;
		padding:0;
		
	
	
	}
	
	i{	
	
		font-size:18px;
		margin:0 10px 0 0;
		display:inline;
		
	}




}

#textEducation{

	position:absolute;

	width:100%;
	height:100%;
	box-sizing:border-box;
	display:inline;
	
	
	left:0%;
	
	
	padding:30px 0 0 0;
	
}

#softSkills{
	
	position:absolute;

	width:50%;
	height:30%;
	box-sizing:border-box;
	display:inline;
	
	
	left:0%;
	top:57%;

	font-size:11px;
	
		


	i{	
	
		
		margin:0 10px 0 0;
		display:inline;
		
	}



}

#passion{
	
	position:absolute;

	width:50%;
	height:30%;
	box-sizing:border-box;
	display:inline;
	
	line-height:12px;
	left:53%;
	top:55%;


	
		
	p{
		
		
		
		margin:15px 0 0 5px;
		
	
	}

	i{	
	
		
		margin:10px 0 0 15px;
		display:inline;
		font-size:20px;
		
		
	}



}


#footer{

	position:absolute;
	
	width:100%;
	height:5%;
	
	top:84%;

	font-size:12px;
	text-align:center;
	
	color:$colorred;


}




.marginpar{
	
	margin:10px 0px 0px 0px;
	display:block;


}

.linepos{

display:inline;

}