$colorblue: #14B4F0;
$colorgreen: #96CA4E;
$colorred: #DC2D68;
$postext:center;

#container{

	position:relative;
	
	height:80%;
	width:100%;
	
}

#box1{

	position:relative;
	
	height:60%;
	width:100%;
	
}

#box2{

	position:relative;
	
	height:40%;
	width:100%;
	
	
	
}

