$colorblue: #14B4F0;
$colorgreen: #96CA4E;
$colorred: #DC2D68;
$postext:center;

#designAppr{
	
	position:absolute;

	width:50%;
	height:60%;
	box-sizing:border-box;
	display:inline;
	
	
	left:50%;
	
	
	padding:10px 10px 10px 10px;
		
	p{
	
		margin:0;
		font-size:12px;
		text-align:center;
		
	
	}
}

#circle{

	position:absolute;

	width:100%;
	height:100%;
	box-sizing:border-box;
	display:inline;
	
	


	padding:20px 0 0 0 ;
	

	
}

#circleRed{

	position:absolute;

	width:130px;
	height:130px;
	
	display:inline;
	
	left:20%;
	
	background-color:$colorred;
	
	border-radius:50%;
	
	font-size:12px;
	text-align:center;
	color:white;
	
	p{
		position:absolute;
		margin:0;
		left:35%;
		top:40%;
	
	}
		
}

#circleBlue{

	position:absolute;

	width:130px;
	height:130px;
	
	display:inline;
	
	left:45%;
	
	background-color:$colorblue;
	
	border-radius:50%;
	
	font-size:12px;
	text-align:center;
	color:white;
	opacity:0.8;
	
	p{
		position:absolute;
		margin:0;
		left:30%;
		top:35%;
	
	}
		
}

#circleGreen{

	position:absolute;

	width:130px;
	height:130px;
	
	display:inline;
	
	left:32%;
	top:40%;
	
	background-color:$colorgreen;
	
	border-radius:50%;
	
	font-size:12px;
	text-align:center;
	color:white;
	opacity:0.8;
	
	p{
		position:absolute;
		margin:0;
		left:35%;
		top:40%;
	
	}
		
}