$colorblue: #14B4F0;
$colorgreen: #96CA4E;
$colorred: #DC2D68;
$postext:center;
$positionleftup:0%;
$positionleftdown:10%;

#timeline{
	
	position:absolute;

	width:100%;
	height:30%;
	box-sizing:border-box;
	display:inline;
	
	
	left:0%;
	top:65%;
	
	margin:30px 0px 30px 5px;
	
	
	font-size:10px;
		

}

@for $i from 1 through 4 {
  #itemUp#{$i} {
						left:$positionleftup;
						$positionleftup:$positionleftup+22%;
						
						

						
					}
}




#itemUp1,#itemUp2,#itemUp3,#itemUp4{
	
	position:absolute;
	
	height:40%;
	width:16%;
	
	
	border-bottom:2px solid $colorred;
	
	font-size:9px;
	
	
	p{
		width:100%;
		position:absolute;
		margin:0;
		font-size:9px;
		text-align:center;
		left:-7%;
		
	
	}
	i{
		position:absolute;
		margin:-6px 0 0 0 ;
		font-size:8px;
		color:$colorred;
		text-align:center;
		left:40%;
		top:40%;
	}

}

@for $i from 1 through 4 {
  #itemDown#{$i} {		
						top:40%;
						left:$positionleftdown;
						$positionleftdown:$positionleftdown+22%;
						
					}
}

#itemDown1,#itemDown2,#itemDown3,#itemDown4{

	position:absolute;
	
	height:40%;
	width:18%;
	
	border-top:2px solid $colorred;
	

	p{
		position:absolute;
		width:100%;
		margin:0;
		font-size:9px;
		text-align:center;
		top:80%;
		left:-7%;
	
	}
	i{
		position:absolute;
		margin:-6px 0 0 0 ;
		font-size:8px;
		color:$colorred;
		text-align:center;
		left:42%;
		top:70%;
	
	}



}


@for $i from 1 through 4 {
  #circleTime#{$i} { top:73%;
  
					left:30%;
  
  
					}
}
@for $i from 5 through 8 {
  #circleTime#{$i} { top:-30%;
					left:32%;
					
  
  
  }
}


#circleTime1,#circleTime2,#circleTime3,#circleTime4,#circleTime5,#circleTime6,#circleTime7,#circleTime8{
	
	position:absolute;

	height: 30px;
	width: 30px;
	z-index:100;
	
	
	

	
	border: 2px solid $colorred;
	border-radius: 18px;
	
	background-color:white;
	
	font-size:11px;
	text-align:center;
	color:$colorred;
	
	p{
		position:absolute;
		margin:0;
		left:0%;
		top:20%;
		font-size:11px;
		
	
	}
	
	}







