#contact{

	width:100%;
	position:relative;
	
	background:#f2f2f1;



}
#contact .row{

text-align:center;
height:100px;

}
#contact .row i{

position:absolute;
left:49%;
top:57%;

 }

#contact .row h2 {
	
	text-align:center;

	color:#505656;


}

#contact .row p {
	
	text-align:center;
	margin:20px 0 0 0;
	color: #7a7a7a;
	font-size:1em;


}

.button.btncontact{

	position:relative;
	top:60px;
	
	border: 1px solid rgba(80,86,86,.5);
		
	font-size:13px;
	color: #505656;


}



.button.btncontact.one{
	background-color:transparent;
	color:rgba(45,216,125,.5);
	left:-10%;
	border-color:rgba(45,216,125,.5);
}
.button.btncontact.two{
	background-color:transparent;
	left:10%;

}

.button.btncontact.two:hover{	

	@include transition(all, 0.25s, linear);
	color:white;
	background-color:#505656;
}
.button.btncontact.one:hover{

	@include transition(all, 0.25s, linear);
	color:white;
	background-color:rgb(45,216,125);
	
}

.linecontact{

	position:absolute;
	
	width:50px;
	height:1px;
	
	
	background-color:rgba(80,86,86,.5);

}

.linecontact.one{

left:43%;
top:71%;

}

.linecontact.two{

left:52%;
top:71%;

}