$colorwhite:rgba(255,255,255,.7);

header{

	position:relative;
	
	
	min-height:680px;
	
	background-image: url(http://aetherthemes.com/demo/form/images/hero-home.jpg);
	background-position: 50% 0px;
	background-attachment: fixed;
	

	img{
		
		position:absolute;
		top:60px;
		left:5%;
	
	
	
	}
}


#containerHeader{

	height:350px;
	top:290px;
	color:white;
	display:block;
	color:white;

}



a.btnHeader{

	position:absolute;
	
	left:263px;
	top:66%;
	
	padding: 15px 45px;
	border:1px solid $colorwhite;
	border-radius:5px;
	
	text-decoration:none;
	font-size:13px;
	color:white;
	

}

a.btnWork{
	
	position:absolute;
	left:51%;
	top:90%;
	
	
	font-size:13px;
	padding: 15px 45px;
	
	border: 1px solid rgba(80,86,86,.5);
	background: transparent;
	
	text-decoration:none;
	border-radius:5px;
	font-weight:400;
	color: #505656;

}


#line{
	position:absolute;
	
	width:1px;
	height:81px;
	
	left:50%;

	margin:50px 0 0 0;
	
	background-color:$colorwhite;

}


nav {

  position: absolute;
  width: 500px;
  right:5%;
  top: 60px;
  font-size: 13px;
  font-weight:400;
  line-height: 35px;
  color: white; 
  
}
.barAni{
	
	position:absolute;
	
	width:40px;
	height:1px;
	top:98%;
	background-color:white;



}




nav ul {
  
	height: 35px;
	
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: white; 
	
}

nav ul li {
	
	height: 35px;
	
	padding: 9px 35px 10px 0;
	display: inline;
  
}



nav li.searchIcon{
	
	font-size:15px;
	font-weight:100;
	padding: 5px 0px 5px 30px;

}


nav li.borderMenu{

	border-right: 1px solid $colorwhite;

}

.firstFace{
	
	position:relative;
	
	width:700px;

	margin:0 auto 0 auto;

	text-align:center;

}




