 $colorwhite:rgba(255,255,255,.7);

header{

	position:relative;
	
	
	min-height:680px;
	
	
	background-position: 50% 0px;

}


#containerHeader{

	height:350px;
	top:290px;
	color:white;
	display:block;
	color:white;

}

a.button{

	position:absolute;

	padding: 15px 45px;
	text-decoration:none;
	border-radius:5px;

	font-weight:400;
}

a.button.btnHeader{

	left:263px;
	top:66%;
	
	border:1px solid $colorwhite;
	opacity:1;
	font-size:13px;
	color:white;
	

}

a.button.btnHeader:hover{
	@include transition(opacity, 0.25s, linear);
	
	opacity:0.5;

}

a.button.btnWork{
	
	left:51%;
	top:90%;
	
	border: 1px solid rgba(80,86,86,.5);
		
	font-size:13px;
	color: #505656;

}
a.button.btnWork:hover{
	@include transition(all, 0.25s, linear);
	
	background-color:#303336;
	color:white;
}

#line{
	position:absolute;
	
	width:1px;
	height:81px;
	
	left:50%;

	margin:45px 0 0 0;
	
	background-color:$colorwhite;

}


nav  {

	position: absolute;
	width: 100%;
	height:65px;
	top: 60px;
	font-size: 13px;
	font-weight:400;
	line-height: 35px;
	color: white;
	z-index:200;
	padding-top: 0;
  
	@include animation(fadeIn, 0.5s, linear, forwards);
	
  
}

.navOut{
	position:absolute;
	z-index:500;
	right:-17em;
	width:17em;
	background-color:black;
	color:white;
	height:100%;

	@include transition(right, 0.35s, ease-in-out);
	
}

body.openMenu .navOut{
	right:0;
}


body.openMenu .navOut ul{
	position:fixed;
	float:left;
	margin:40px  0 0 100px;
	padding:0;
	list-style:none;

}

.navOut ul li{
	margin:20px 0 0 0;
	text-align:center;

}

.fixedmenu.fadeOutAni{
	top:0%;
	@include animation(fadeOut, 0.5s, linear, forwards);
	
	
}





.fixedmenu{

	position: fixed;
	background-color:rgba(45,180,216,.95);
	top:-65px;
	font-size:12px;
	max-height: 65px; 
	@include animation(slideDown, 0.3s, linear, forwards);
	


	
	
	

}

.barAni{
	
	position:absolute;
	
	width:40px;
	height:1px;
	top:36px;
	background-color:$colorwhite;
	display:block;


}


nav img{
		
		position:absolute;
		left:5%;
	
	
	
}
nav .iconmenu{

	position:absolute;
	display:none;
	left:90%;
	top:15px;
}

nav .iconmenu i{

	position:relative;
	font-size:25px;
	color:white;
	top:5px;
	margin: 0 5px 0 0;
	


}
nav ul {
	
	position:absolute;
	height: 35px;
	width:500px; 
	left:67%;
	margin: 0;
	padding: 0;
	display:hidden;

}

.fixedmenu ul,img {

	top:28%;


}

nav ul li {
	
	height: 35px;
	box-sizing:border-box;
	padding: 0px 35px 10px 0;
	display: inline-block;
	cursor: pointer;
	
	
  
}


nav li.searchIcon{
	
	font-size:15px;
	font-weight:100;
	padding: 5px 0px 5px 30px;

}


nav li.borderMenu{

	border-right: 1px solid $colorwhite;

}

.firstFace{
	
	position:relative;
	
	width:700px;

	margin:0 auto 0 auto;

	text-align:center;

}




