body {
  padding: 0px;
  margin: 0px;
  position: relative;
  -webkit-font-smoothing: none;
  font-family: 'Lato', sans-serif;
  font-weight: 300; }

h1, h2, h3 {
  margin: 20px 0 16px 0; }

h1 {
  font-size: 46px;
  font-weight: 400; }

h2 {
  font-size: 28px;
  font-weight: 400; }

h3 {
  font-size: 18px;
  font-weight: 400; }

p {
  line-height: 1.7em; }

#main {
  width: 100%;
  height: auto;
  margin: 0;
  position: relative; }

header {
  position: relative;
  width: 100%;
  font: normal 16px "Lato",arial,sans-serif;
  font-weight: 400; }

header img {
  width: 100%; }

nav {
  position: relative;
  width: 820px;
  height: 70px;
  margin: 0 auto 0 auto;
  padding: 0; }

nav ul {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

nav ul li {
  position: relative;
  height: 100%;
  margin: 0 0 0 150px;
  padding: 20px 0 0 0;
  display: inline-block;
  box-sizing: border-box;
  list-style: none; }

nav ul li:first-child {
  margin: 0 0 0 50px; }

nav ul li a {
  text-decoration: none;
  color: black; }

#container {
  position: relative;
  width: 820px;
  height: auto;
  margin: 0 auto 0 auto; }

#container.load {
  height: 300px; }

i.loading {
  position: absolute;
  top: 200px;
  left: 45%;
  font-size: 50px;
  display: none;
  z-index: 100; }

#container.load i.loading {
  display: block; }

article {
  position: relative;
  text-align: center;
  width: 100%; }

article header {
  position: relative;
  text-align: center;
  width: 100%; }

article p {
  text-align: left; }

article footer {
  position: relative;
  width: 100%; }

article img {
  position: relative;
  width: 400px;
  height: 400px; }
