body {
  padding: 0px;
  margin: 0px;
  background-image: url("../img/bg.png");
  font-family: 'Open Sans', sans-serif; }

#header {
  position: relative;
  height: 15%;
  width: 100%; }

#main {
  width: 11.5cm;
  height: 2000px;
  padding: 30px 30px 30px 30px;
  margin: 10px auto 10px auto;
  background-color: white; }

#box1 {
  top: 2%;
  height: 70%; }

#box2 {
  height: 30%; }

#container {
  height: 80%; }

#information {
  width: 220px;
  height: 53px;
  left: 0%; }

#contact {
  width: 120px;
  height: 30px;
  display: block;
  padding: 0;
  left: 70%; }
  #contact i {
    margin: 0 5px 0 2px; }

#social {
  width: 100px;
  display: inline;
  left: 70%;
  top: 8%;
  margin: 0; }
  #social i {
    margin: 0 0 0 10px; }

#today {
  width: 100%;
  height: 70%;
  display: inline;
  top: 30%; }

#sun {
  width: 50%;
  height: 50%; }

#heart {
  width: 50%;
  height: 50%;
  left: 50%; }

#world {
  width: 50%;
  height: 50%;
  left: 0%;
  top: 50%; }

#house {
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%; }

#about {
  width: 100%;
  height: 15%;
  display: block; }

#skills {
  width: 100%;
  height: 20%;
  display: block;
  top: 15%; }

#designAppr {
  width: 100%;
  height: 25%;
  display: block;
  left: 0%;
  top: 35%; }

#timeline {
  width: 435px;
  height: 300px;
  left: -30px;
  top: 70%;
  margin: 0 0 0 0; }

#itemUp1 {
  left: 0%; }

#itemUp2 {
  left: 24%; }

#itemUp3 {
  left: 48%; }

#itemUp4 {
  left: 72%; }

#itemUp1, #itemUp2, #itemUp3, #itemUp4 {
  width: 28%;
  height: 20%; }
  #itemUp1 p, #itemUp2 p, #itemUp3 p, #itemUp4 p {
    width: 95%; }

#itemDown1 {
  top: 40%;
  left: 0%; }

#itemDown2 {
  top: 40%;
  left: 24%; }

#itemDown3 {
  top: 40%;
  left: 48%; }

#itemDown4 {
  top: 40%;
  left: 72%; }

#itemDown1, #itemDown2, #itemDown3, #itemDown4 {
  width: 28%;
  height: 20%; }
  #itemDown1 p, #itemDown2 p, #itemDown3 p, #itemDown4 p {
    width: 90%;
    left: 3%; }

#circleTime1 p, #circleTime2 p, #circleTime3 p, #circleTime4 p, #circleTime5 p, #circleTime6 p, #circleTime7 p, #circleTime8 p {
  left: 3%; }

#box2 {
  top: -3%;
  height: 40%; }

#experience {
  width: 100%;
  height: 15%;
  display: block; }

#education {
  width: 100%;
  height: 15%;
  display: block;
  left: 0%;
  top: 33%; }

#softSkills {
  width: 100%;
  height: 15%;
  display: block;
  left: 0%;
  top: 65%; }

#passion {
  width: 100%;
  height: 15%;
  display: block;
  left: -5%;
  top: 80%; }
  #passion i {
    margin: 10px 0 0 20px;
    display: inline;
    font-size: 20px; }

#footer {
  top: 95%; }
